*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-container{
    background-image: linear-gradient(to right top, #0b0732, #0c1336, #121a39, #18223b, #20293d, #20293b, #202a39, #212a37, #1a2431, #131f2c, #0b1a26, #021421);
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    position:relative;
    bottom: 0;
    height: 100%; 
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-container .content{
    font-weight: 800;
    text-align: center;
    max-width: 800px;
    color: #fff;
    margin-top: 20px;

}
.contact-container .content h2{
    font-size: 35px;
    text-align: center;
}

.contact-container .content p{
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.conttact-info-container{
    width: 100%;
    display: flex;
    background: rgba(8, 7, 19, 0.973);
    padding: 50px 20px;
    /* flex-direction:  row; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.conttact-info-container .contact-info{
    width: 50%;
    flex-direction: column;
    display: flex;
   
}

.conttact-info-container .box{
    display: flex;
    position: relative;
    padding:  20px 0;
}

.conttact-info-container .box .fa-icons{
    min-width: 35px;
    height: 35px;
    display: flex;
    background:  #fff;
    font-size: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.conttact-info-container .box .text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #fff;

}


.conttact-info-container .box .text h2{
    font-size: 22px;
    font-weight: 500;
}
.conttact-info-container .box .text p{
    font-weight: 400;
    color: #93a8b6;
}

.contactForm{
    width: 40%;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 3px 6px 1px #000;
}

.contactForm h2{
    color: #333;
    font-size: 25px;
    font-weight: 500px;
}

#flash-msg{
    width: 100%;
    margin: 20px auto;
    background: rgb(9, 83, 9);
    border-radius: 3px;
    color: #fff;
    text-align: center;
    min-height: 30px;
    line-height: 30px;
    /* display: none; */
}

.contactForm .inputBox{
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 10px;
    color: #000;
    border: none;
    border-radius: 0.3em;
    border-bottom: 1px solid #1e1e1e;
    outline: none;
    transition: all 0.1s ease-out;
    position: relative;
    resize: none;
}

.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 10px;
    color: #000;
    border: 1px solid gray;
    border-radius: 0.3em;
    outline: none;
    transition: all 0.1s ease-out;
}

.contactForm .inputBox input:focus, 
.contactForm .inputBox textarea:focus {
    box-shadow: 0 1px 2px #1e1e1e;
    border-bottom: 0.15em solid #0f5177;
    top:-1px;
  }


  .contactForm .inputBox label{
      position: relative;
      font-size: 14px;
      font-weight: bold;
      left: 0;
      pointer-events: none;
      font-family: 15px;
      margin: 2px 0;
      color: #1e1e1e;
      transition: 0.5s;
  }

  /* .contactForm .inputBox input:focus + label,
  .contactForm .inputBox input:valid + label,
  .contactForm .inputBox textarea:focus + label,
  .contactForm .inputBox textarea:valid + label {
    transform: translate(82px);
    font-weight: 500;
    color: #058023;
} */

.contactForm .inputBox input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #010514c9;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
  

  @media only screen and (max-width: 991px){
    .contact-container{
       width: 100%;
        min-height: 100vh;
        padding: 30px 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        position:relative;
        bottom: 0;
        height: 100%; 
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .contact-container{
        padding: 10px;
        width: 100%;
    }
    .conttact-info-container{
        flex-direction: column;
    }
    .conttact-info-container .contact-info{
        width: 80%;
        flex-direction: column;
        display: flex;
       
    }
    .contactForm{
        width: 90%;
    }
    .contactForm .inputBox input[type="submit"]{
        padding: 10px;
        color: #fff;
        background: #010514c9;
        width: 90%;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 5px;
    }
  }



  @media only screen and (max-width: 450px){
    .contact-container{
        padding: 10px;
        width: 100%;
    }
    .conttact-info-container{
        flex-direction: column;
    }
    .conttact-info-container .contact-info{
        width: 100%;
        flex-direction: column;
        display: flex;
       
    }
    .contactForm{
        width: 100%;
    }
    .contactForm .inputBox input[type="submit"]{
        padding: 10px;
        color: #fff;
        background: #010514c9;
        width: 100%;
        /* margin-left: 10px; */
        align-items: center;
        align-content: center;
    }
  }